@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    list-style: none;
    transition: all 0.3s ease;
}

:root {
    --main-color: #9c27b0;
    --text-color: #ffffff;
    --bg-color: #1e1b26;
    --text-muted: #cccccc;
    --card-bg: #2a2733;
    --hover-overlay: rgba(255,255,255,0.1);
    --btn-text: #ffffff;

    --box-shadow: 0 5px 10px rgb(49, 4, 81);
    --card-box-shadow: 0 0 10px rgba(0, 0, 0, 0.772);
}

.light-mode {
    --main-color: #9c27b0;
    --text-color: #1e1b26;
    --bg-color: #f4f2f7;
    --text-muted: #cccccc;
    --card-bg: #e4e4e4;
    --hover-overlay: rgba(0, 0, 0, 0.1);
    --btn-text: #ffffff;
}

/*scroll bar start */
html::-webkit-scrollbar{
    width: 10px;
    background-color: transparent;
}

html::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
    border-radius: 10px;
    cursor: pointer;
}
/*scroll bar end */

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    overflow-x: hidden;
}

/*loading screen*/
.loader {
    width: 60px;
    aspect-ratio: 1;
    border: 15px solid #ddd;
    border-radius: 50%;
    position: relative;
    transform: rotate(45deg);
}
.loader::before {
    content: "";
    position: absolute;
    inset: -15px;
    border-radius: 50%;
    border: 15px solid #514b82;
    animation: l18 1s 1 linear;
}
@keyframes l18 {
    0% {
        clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
    }
    25% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
    }
    50% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
    }
    75% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
    }
    100% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
    }
}

/*loading screen Start*/
#loading-screen {
    position: absolute;
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    background-color: var(--bg-color);
    transition: all 0.5s ease; /* Smooth fade-out */
}

#loading-screen.hidden {
    opacity: 0;
    pointer-events: none;
}

/* Loading Screen End */

header {
    position: sticky;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: 20px 100px;
    background-color: var(--bg-color);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.605);
    z-index: 20;
}

.logo {
    font-size: 1.7rem;
    font-weight: 900;
    color: var(--text-color);
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo i{
    color: var(--main-color);
}

.navbar {
    display: flex;
    align-items: center;
    gap: 5rem;
}

.navbar li {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}

.navbar a {
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 500;
}

.navbar a::after {
    content: "";
    width: 0%;
    height: 3px;
    background-color: var(--main-color);
    position: absolute;
    bottom: -2px;
    left: 0;
    transition: 0.5s ease;
}

.navbar a:hover::after,
.navbar a.active::after {
    width: 100%;
}

.dropdown {
    position: relative;
}

.dropdown:hover .dropdown-content {
    opacity: 1;
    pointer-events: visible;
    left: -10%;
}

.dropdown .dropdown-content {
    opacity: 0;
    pointer-events: none;
    background-color: var(--bg-color);
    position: absolute;
    top: 1.6rem;
    left: -20%;
    padding: 20px;
    width: 300px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    transition: 0.3s ease;
    z-index: 11;
}

.dropdown .dropdown-content a {
    position: relative;
}

.dropdown .dropdown-content a::before,
.dropdown .dropdown-content a::after {
    content: "";
    bottom: -5px;
}

.dropdown .dropdown-content a:hover::before,
.dropdown .dropdown-content a:hover::after {
    width: 70%;
}

.nav-right{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.search-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
}

.search-icon i {
    color: var(--text-color);
    font-size: 1.5rem;
    cursor: pointer;
    transition: 0.3s ease;
}

.search-icon i:hover {
    transform: scale(1.2);
    color: var(--main-color);
}


.search-icon .dropdown-content {
    width: 450px;
    top: 2rem;
    left: -220px;
}

.search-icon .dropdown-content form{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-items: center;
    gap: 1rem;
}

.search-icon .dropdown-content form input {
    width: 300px;
    padding: 0.5rem;
    border: none;
    background-color: transparent;
    color: var(--text-color);
    font-size: 1rem;
    border-bottom: 3px solid var(--text-color);
    transition: border-bottom 0.3s ease;
}

.search-icon .dropdown-content form input:focus {
    outline: none;
    border-bottom: 3px solid var(--main-color);
}


input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
    display: none;
}

.search-wrapper {
    position: relative;
    display: inline-block;
}

#custom-search {
    padding-right: 30px;
    height: 40px;
    font-size: 16px;
}

.clear-btn {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    color: var(--text-color);
    font-size: 30px;
    cursor: pointer;
    display: none;
    animation: clear-btn-fade-in 0.3s ease;
}

@keyframes clear-btn-fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.clear-btn:hover {
    color: var(--main-color);
}

#custom-search:focus + .clear-btn {
    display: block;
}


.search-icon:hover .dropdown-content {
    top: 3.1rem;
    left: -220px;
}

.search-icon .dropdown-content form .btn-search::before,
.search-icon .dropdown-content form .btn-search::after {
    display: none !important;
}


.search-icon .dropdown-content form .btn-search {
    background-color: var(--main-color);
    padding: 0.7rem 1.4rem;
    color: var(--btn-text);
    font-weight: 600;
    border-radius: 0.5rem;
    position: relative;
    transition: 0.5s ease;
}

.search-icon .dropdown-content form .btn-search:hover {
    color: var(--main-color);
    background-color: var(--bg-color);
}


.btn {
    background-color: var(--main-color);
    padding: 0.7rem 1.4rem;
    color: var(--btn-text);
    font-weight: 600;
    border-radius: 0.5rem;
    position: relative;
    transition: 0.5s ease;
}
.btn:hover {
    color: var(--main-color);
    background-color: var(--bg-color);
}

.btn:hover::after,
.btn:hover::before {
    visibility: visible;
}
@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.btn::after,
.btn::before {
    content: "";
    width: 100%;
    height: 100%;
    background-image: conic-gradient(from var(--angle), transparent 50%, var(--main-color));
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: -1;
    padding: 3px;
    border-radius: 10px;
    animation: 1.5s spin linear infinite;
    visibility: hidden;
}

.btn::before {
    filter: blur(1.5rem);
    opacity: 0.8;
}

@keyframes spin {
    from {
        --angle: 0deg;
    }
    to {
        --angle: 360deg;
    }
}

/* theme toggle */
.theme-toggle {
    position: relative;
    margin-right: -50px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
}

.theme-toggle .themes{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    transition: .3s ease;
}

.theme-toggle i{
    font-size: 1.7rem;
    color: var(--text-color);
}

.theme-toggle i:nth-child(2){
    transform: rotate(180deg);
}


/* Home Cover Design */

.container .cover-container {
    display: flex;
    width: 500vw;
    transition: transform 0.5s ease;
}

.cover-wrapper {
    width: 100vw;
    min-height: 640px;
    position: relative;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}


.wrapper-arrows i {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 640px;
    font-size: 2rem;
    color: var(--text-muted);
    cursor: pointer;
    opacity: 0.5;
    position: absolute;
    top: 0;
    z-index: 10;
    padding: 0 20px;
}

.wrapper-arrows i:nth-child(1) {
    left: 0;
}
.wrapper-arrows i:nth-child(2) {
    right: 0;
}

.container .wrapper-arrows i:hover {
    color: var(--btn-text);
    opacity: 1;
}

.container img {
    position: absolute;
    z-index: -2;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s all ease;
}

.trailer-video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    z-index: -2;
    opacity: 0;
    transition: 0.3s all ease;
}

.container:hover .cover-image {
    opacity: 0;
}

.container:hover .trailer-video {
    opacity: 1;
}

.home-text {
    padding-left: 60px;
    margin-top: -100px;
    color: var(--btn-text);
    width: 60%;
}

.home-text span {
    font-weight: 700;
    text-transform: uppercase;
}

.home-text h1 {
    font-size: 3.5rem;
    font-weight: 700;
}

.home-text a {
    top: 130px;
}

.home-text .description {
    width: 400px;
}

.home-text p {
    font-size: 1rem;
    margin-bottom: 1.5rem;
    color: var(--text-muted);
}

.container .cover-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(26, 26, 26, 1) 0%, rgba(26, 26, 26, 0.9) 25%, rgba(26, 26, 26, 0.8) 34%, rgba(26, 26, 26, 0) 100%);
    transition: opacity 0.3s ease;
    z-index: -2;
}

.container {
    position: relative;
}

.container .slide-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: absolute;
    bottom: 20%;
    left: 100px;
}

.slide-dots .dot{
    width: 25px;
    height: 10px;
    background-color: var(--text-muted);
    border-radius: 5px;
    opacity: 0.8;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease;
}

/* Widen active dot */
.dot.active {
    width: 75px;
}

/* Fill effect */
.dot::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    background-color: var(--main-color);
    z-index: 1;
    transition: none;
}

.dot.active::before {
    animation: dot-fill var(--fill-duration, 5s) linear forwards;
}

@keyframes dot-fill {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}

/* Cover End */

/* New Digital Release Start */

.new-release{
    width: 100vw;
    padding: 40px 25px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.new-release .header{
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    gap: 1rem;
}

.new-release .header h2{
    color: var(--text-color);
}

.new-release .header p{
    color: var(--text-color);
}

.new-release .movies-slider{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 0 20px;
}

.movies-slider .movies{
    width: 230px;
    min-width: 170px;
    height: 400px;
    display: grid;
    grid-template-rows: 70% 30%;
    gap: 0.4rem;
    background-color: var(--card-bg);
    border-radius: 10px;
    box-shadow: var(--card-box-shadow);
    position: relative;
    overflow: hidden;
}


.movies .poster{
    width: 100%;
    height: 100%;
}

.movies .poster img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px 10px 0 0;
}

.movies .name-rating{
    height: 100%;
    background-color: var(--card-bg);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 10px;
    transition: all 0.3s ease;
    border-radius: 0 0 10px 10px;
    color: var(--text-color);
}

.movies .name-rating .fa-star{
    color: rgb(255, 196, 0);
}

.movies:hover{
    transform: scale(1.1);
    box-shadow: none;
    grid-template-rows: 100% 0%;
}

.movies:hover .poster img{
    border-radius: 10px;
}


.movies .name-rating p{
    font-size: 0.8rem;
    display: none;
    position: absolute;
    top: 30%;
}

.movies:hover .name-rating{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    padding-top: 10px;
    background-color: #2a2733c1;
    color: var(--btn-text);
}

.movies:hover .name-rating p{
    display: inline;
}

/*Advertising Start*/

.ads-container {
    width: 100%;
    padding: 30px 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ads-container .ads{
    width: 100%;
    height: 200px;
    background: linear-gradient(to right, var(--card-bg), transparent 60%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 40px;
    border: 3px solid var(--card-bg);
}

.ads i{
    color: var(--main-color);
    font-size: 4rem;
}

.ads .ads-text{
    color: var(--text-color);
    width: 60%;
}

/*Advertising End*/


/* Footer Start */

footer{
    margin: 4rem;
    display: grid;
    gap: 1rem;
}

.footer-top{
    background-color: var(--card-bg);
    border-radius: 15px;
    padding: 5rem;
    display: grid;
    grid-template-columns: 65% 20% 20%;
}

.footer-top .footer-left{
    padding-right: 5rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.footer-left p{
    width: 70%;
}

.footer-left .social-media{
    width: 100%;
    display: flex;
    gap: 2rem;
}

.social-media i{
    font-size: 1.5rem;
    color: var(--text-color);
    cursor: pointer;
}

.footer-left .back-to-top a{
    width: 30%;
    padding: 0.5rem;
    border: 2px solid var(--text-color);
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
}

.back-to-top a:hover{
    border: 2px solid var(--main-color);
    color: var(--btn-text);
    background-color: var(--main-color);
}

.sitemap,
.footer-right{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.sitemap a,
.footer-right a{
    font-weight: bold;
    color: var(--text-color);
    font-size: 1rem;
}

.sitemap a:hover,
.footer-right a:hover{
    color: var(--main-color);
}

.footer-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
}
/*Footer End */


/*responsive start */

@media (max-width: 1060px){
    .nav-right .search-icon{
        display: none;
    }

    .footer-left .back-to-top a{
        width: 200px;
    }
}

@media (max-width: 1024px) {
    .navbar{
        display: none;
    }

    .movies-slider{
        display: grid;
        grid-template-columns: repeat(4, 1);
    }
}

@media (max-width: 960px) {

    .ads {
        gap: 10px;
    }

    .ads .ads-text{
        width: 250px;
    }

    .ads .btn{
        padding: 0.5rem 1rem;
    }
}

@media (max-width: 820px) {
    .cover-wrapper .home-text h1{
        font-size: 1.6rem;
    }

    .cover-wrapper .home-text p {
        font-size: 0.8rem;
    }

}

@media (max-width: 780px) {


    .ads i{
        font-size: 2.3rem;
    }

    .ads-text{
        width: 200px;
    }

    .ads-text h3{
        font-size: 1rem;
    }

    .ads-text p{
        font-size: 0.7rem;
    }

    .ads .btn{
        font-size: 0.6rem;
    }

    .footer-top .logo{
        font-size: 1.2rem;
    }

    .footer-top p{
        font-size: 0.7rem;
    }

    .sitemap h3,
    .footer-right h3{
        font-size: 1rem;
    }

    .sitemap a,
    .footer-right a{
        font-size: 0.8rem;
    }

    .footer-bottom span{
        font-size: 0.7rem;
    }
}

@media (max-width: 646px) {
    footer{
        margin: 1rem;
    }
}

@media (max-width: 605px) {
    .ads-container{
        height: 350px;
        padding: 0;
    }

    .ads{
        display: flex;
        flex-direction: column;
    }

    .ads .ads-text{
        width: 100%;
        align-self: left;
    }

    .ads i{
        font-size: 1.5rem;

    }
}

@media (max-width: 575px) {

    footer{
        margin: 4rem;
    }
    .footer-top{
        display: grid;
        grid-template-columns: auto;
        gap: 1rem;
    }

    .footer-top div{
        justify-content: center;
        align-items: center;
    }
    .footer-top .footer-left{
        padding-right: 0;
    }
}

@media (max-width: 517px) {

    header .logo{
        font-size: 1.5rem;
    }

    .nav-right .btn{
        font-size: 0.7rem;
        padding: 0.5rem 1rem;
    }

    .cover-container .cover-wrapper .home-text p{
        width: 70%;
    }

    .cover-container .cover-wrapper .home-text .btn{
        top: 180px;
    }
}

@media (max-width: 479px) {
    header{
        display: flex;
        justify-content: space-around;
        padding: 10px;
    }

    header .logo{
        font-size: 1.3rem;
    }
    .nav-right .btn{
        font-size: 0.5rem;
        padding: 0.5rem 1rem;
    }

    .ads-container .ads{
        display: flex;
        gap: 10px;
    }

    .ads .ads-text h3{
        font-size: 1rem;
    }

    .ads .ads-text p{
        font-size: 0.6rem;
    }
}


@media (max-width: 380px) {

    .home-text{
        width: 100%;
    }
    .home-text .description p{
        width: 30%;
    }

    .container .slide-dots{
        position: absolute;
        bottom: 10%;
        left: 20%;
    }
}
/* responsive end */